// some list functions (might not be necessary anymore...)
@import 'partials/SassyLists';

$dark_gray: #b2b2b2;
$gbm_red: #d20000;

//$brick_bg:lightSlateGray;

// list of items with image backgrounds
$furniture_items: box, table, couch, chair-left, chair-right, beds-left, beds-right; 

$couch_radius_first: 6px 0 0 0;
$couch_radius_last: 0 6px 0 0;

// brick size
$brick_wh: 34px;

$box_bg_positions: 0px 0px, 0px -34px, -34px -34px, -34px 0px;
$box_bg_position_refs: 1, 4, 2, 3;

// center mixin

@mixin center {
  margin: 0 auto;
}

body {overflow:hidden; background: #d7d7d7;}
#tetris {
}
#canvas {
  width: 340px;
  height: 680px;
  background-color: #fff;
  position: relative;
  color: #fff;
  float:left;
}
#canvas h1 {margin: 0; padding: 0; text-align: center; font-size: 30px; padding-top: 200px;}
.piece {
  border: 1px solid white;
  position: absolute;
}
#next_shape {
  position: relative;
  background-color: #fff;
  border: 1px solid white;
  width: $brick_wh*6;
  height: $brick_wh*4;
  @include center;
}
#info {
  background-color: $gbm_red; 
  color: #fff; 
  float: left;
  height: 660px;
  padding: 10px;
  width: 280px;
  p {
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: $dark_gray;
    text-shadow: 2px 1px 0px #fff, 6px 2px 0px rgba(0,0,0,0.15);
  }
}



@function set_bg_position_initial($piece, $slice) {

  $xpos:'';
  $ypos:'';

  @if $piece == couch {
    $xpos: -$brick_wh*( 5 + $slice ); 
    $ypos:  0px;
  } 


  @return $xpos $ypos;

}

@function set_bg_pos_rotate($piece, $slice, $rotation, $bg_coords, $shifted_bg_list) {

  @if $piece == couch {

    @return $bg_coords;

  } @else if $piece == box {

    @return nth($shifted_bg_list, $rotation + 1);
  }
  @return $bg_coords;
}

@function set_transform_val($piece, $rotation){

  $transform_val:'';
  @if $piece == table { 
    $transform_val: rotate( (90deg*($rotation + 2))%360 ); 
  }
  @else { $transform_val: rotate( 90deg*($rotation) ); }

  @return $transform_val;

}

.square {
  //background-color: $brick_bg;
  position: absolute;
  width: $brick_wh;
  height: $brick_wh;
}

@each $item in $furniture_items {

  @for $slice from 0 through 3 {

    $tmp_list:();
    $shape_positions:(1,2,3,4);
    $shape_ref_array:(1,2,3,4);

    .icon-sprite-#{$item}-#{$slice}{

      background-image: url('../img/spritesheet.png');

      @if ($slice == 0 and $item == couch) { border-radius: $couch_radius_first;}
      @if ($slice == 3 and $item == couch) { border-radius: $couch_radius_last;}

      $bg_pos: set_bg_position_initial($item, $slice);

      @if ( $item == box ) {
        $shape_positions: $box_bg_positions;
        $shape_ref_array: $box_bg_position_refs;
      }

      $tmp_list: join(slice($shape_positions, nth($shape_ref_array, $slice + 1)), slice($shape_positions, 1, nth($shape_ref_array, $slice+ 1)));

      @for $rotation from 0 through 3{
        &.rot-#{$rotation}{
          transform: set_transform_val($item, $rotation);
          background-position: set_bg_pos_rotate($item, $slice, $rotation, $bg_pos, $tmp_list); 
        }
      }
    }
  }
}
