
$brick_bg:lightSlateGray;

// list of items with image backgrounds
$furniture_items: couch, box, table, chair-left, chair-right, beds-left, beds-right; 

// brick size
$brick_wh: 34px;

$box_bg_positions: 0px 0px, -34px 0px, -34px -34px, 0px -34px;

@function set_bg_position_initial($piece, $slice) {

  $xpos:'';
  $ypos:'';

  @if $piece == couch {
    $xpos: -$brick_wh*( 5 + $slice ); 
    $ypos:  0px;
  } 
  @else if $piece == box {
    @if $slice < 2 {
      $xpos: -$brick_wh*($slice);
      $ypos: 0px;
    } @else {
      $xpos: -$brick_wh*( $slice - 2 );
      $ypos: -$brick_wh;
    } 
  }

  @return $xpos $ypos;

}

@function set_bg_pos_rotate($piece, $slice, $rotation, $bg_coords) {

  $xpos:'';
  $ypos:'';
  $slice_diff: ($slice - $rotation); // get the next position for shifting png position
  $shift_slice:2;

  @if $piece == couch {

    @return $bg_coords;

  } @else if $piece == box {

    @if $rotation == 0 {

      @return $bg_coords;

    } @else {

      @if $slice < 2 {

        @if $slice_diff == 0 { $shift_slice: 1; }

        @else if abs($slice_diff) == 2 { $shift_slice: 3; }

        @else if $slice_diff == -1 { $shift_slice: 4; }
      } 
      @else if $slice == 2 {

        @if $slice_diff == 0 { $shift_slice: 2; }

        @else if $slice_diff == -1 { $shift_slice: 1; }
        
        @else if $slice_diff == 1 { $shift_slice: 3; }

      }
      @else if $slice == 3 {

        @if $slice_diff == 0 { $shift_slice: 4; }

        @else if $slice_diff == 1 { $shift_slice: 1; }
        
        @else if $slice_diff == 2 { $shift_slice: 2; }

      }
      @return nth($box_bg_positions, $shift_slice);
    }
  }
  @return $xpos $ypos;
}

@function set_transform_val($piece, $rotation){

  $transform_val:'';
  @if $piece == couch or $piece == table { 
    $transform_val: rotate( 90deg*($rotation - 1) ); 
  }
  @else { $transform_val: rotate( 90deg*($rotation) ); }
  @if ( $rotation == 2 and not ( $piece == couch or $piece == box ) ) or ( ($rotation == 3 and $piece == couch) or ($rotation == 0 and $piece == couch) ) { 
    $transform_val: $transform_val + ' ' + scaleX(-1); 
  }
  @return $transform_val;

}

.single-brick {
  background-color: $brick_bg;
}

@for $i from 0 through 3 {
  @each $item in $furniture_items {
    .icon-sprite-#{$item}-#{$i}{

      background-image: url('../img/spritesheet.png');

      $bg_pos: set_bg_position_initial($item, $i);

      @for $j from 0 through 3{
        &.rot-#{$j}{
          transform: set_transform_val($item, $j);
          background-position: set_bg_pos_rotate($item, $i, $j, $bg_pos); //$xpos $ypos;
        }
      }
    }
  }
}
