/*! SassyLists - v1.0.0 - 2014-01-24 */
.box-mover:before {
  position: absolute;
  content: '';
  width: 44px;
  height: 54px;
  top: -41px;
  right: -10px;
  background: url("../../../images/worker-top2.png") no-repeat center center;
  -webkit-background-size: 40px 51px;
  background-size: 40px 51px; }

.box-mover.table:before {
  width: 0px;
  height: 0px; }
.box-mover.table:after {
  position: absolute;
  content: '';
  width: 44px;
  height: 54px;
  top: 22px;
  right: -5px;
  background: url("../../../images/worker-top2.png") no-repeat center center;
  -webkit-background-size: 40px 51px;
  background-size: 40px 51px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

#tetris {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  max-width: 565px;
  margin-left: 80px;
  position: relative;
  top: -48px; }
  #tetris:after {
    content: "";
    display: table;
    clear: both; }

#tetris-canvas {
  width: 340px;
  height: 680px;
  background-color: #fff;
  position: relative;
  color: #fff;
  float: left;
  overflow: hidden; }

#tetris-canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px; }

.piece {
  border: 1px solid white;
  position: absolute; }

#tetris-next_shape {
  position: relative;
  background-color: #fff;
  border: 1px solid white;
  width: 204px;
  height: 136px;
  margin: 0 auto;
  border-radius: 5px; }

#tetris-info {
  background-color: #d20000;
  color: #fff;
  float: left;
  height: 660px;
  padding: 10px;
  width: 205px; }
  #tetris-info #tetris-stats p {
    position: relative;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center;
    margin: 20px 0;
    font-size: 26px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #b2b2b2;
    text-shadow: 2px 1px 0px white, 6px 2px 0px rgba(0, 0, 0, 0.15); }
  #tetris-info #tetris-messages {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 74px;
    position: relative;
    right: 56px;
    text-align: center;
    font-family: sans-serif;
    padding: 9px;
    background: white;
    color: #4d4d4d;
    width: 300px;
    height: 160px;
    border-radius: 5px; }
    #tetris-info #tetris-messages p, #tetris-info #tetris-messages h1, #tetris-info #tetris-messages a {
      margin: 10px 0; }
    #tetris-info #tetris-messages a {
      text-transform: capitalize;
      color: #d20000; }
    #tetris-info #tetris-messages ul li {
      display: inline-block;
      padding: 12px; }
      #tetris-info #tetris-messages ul li.down:before {
        content: '\2190';
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #tetris-info #tetris-messages ul li.right:before {
        content: '\2193'; }
      #tetris-info #tetris-messages ul li.up:before {
        content: '\2192'; }
      #tetris-info #tetris-messages ul li.rotate:before {
        content: '\2191'; }

p#tetris-level {
  left: 60px;
  top: 60px; }

p#tetris-lines {
  left: 20px;
  top: 6px; }

p#tetris-score {
  left: -20px;
  top: -36px; }

p#tetris-time {
  left: -60px;
  top: -95px; }

.tetris-square {
  position: absolute;
  width: 34px;
  height: 34px; }

.icon-sprite-box-0 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-box-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: 0px 0px; }
  .icon-sprite-box-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: 0px -34px; }
  .icon-sprite-box-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -34px -34px; }
  .icon-sprite-box-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -34px 0px; }

.icon-sprite-box-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-box-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -34px 0px; }
  .icon-sprite-box-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: 0px 0px; }
  .icon-sprite-box-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: 0px -34px; }
  .icon-sprite-box-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -34px -34px; }

.icon-sprite-box-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-box-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: 0px -34px; }
  .icon-sprite-box-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -34px -34px; }
  .icon-sprite-box-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -34px 0px; }
  .icon-sprite-box-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: 0px 0px; }

.icon-sprite-box-3 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-box-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -34px -34px; }
  .icon-sprite-box-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -34px 0px; }
  .icon-sprite-box-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: 0px 0px; }
  .icon-sprite-box-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: 0px -34px; }

.icon-sprite-table-0 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-table-0.rot-0 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-table-0.rot-1 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }
  .icon-sprite-table-0.rot-2 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-table-0.rot-3 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }

.icon-sprite-table-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-table-1.rot-0 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-table-1.rot-1 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }
  .icon-sprite-table-1.rot-2 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-table-1.rot-3 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }

.icon-sprite-table-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-table-2.rot-0 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-table-2.rot-1 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }
  .icon-sprite-table-2.rot-2 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-table-2.rot-3 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }

.icon-sprite-table-3 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-table-3.rot-0 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-table-3.rot-1 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }
  .icon-sprite-table-3.rot-2 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-table-3.rot-3 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }

.icon-sprite-couch-0 {
  background-image: url("../img/spritesheet.png");
  border-radius: 6px 0 0 0; }
  .icon-sprite-couch-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -272px 0px; }
  .icon-sprite-couch-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -272px 0px; }
  .icon-sprite-couch-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -272px 0px; }
  .icon-sprite-couch-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -272px 0px; }

.icon-sprite-couch-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-couch-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -306px 0px; }
  .icon-sprite-couch-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -306px 0px; }
  .icon-sprite-couch-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -306px 0px; }
  .icon-sprite-couch-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -306px 0px; }

.icon-sprite-couch-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-couch-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -340px 0px; }
  .icon-sprite-couch-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -340px 0px; }
  .icon-sprite-couch-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -340px 0px; }
  .icon-sprite-couch-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -340px 0px; }

.icon-sprite-couch-3 {
  background-image: url("../img/spritesheet.png");
  border-radius: 0 6px 0 0; }
  .icon-sprite-couch-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -374px 0px; }
  .icon-sprite-couch-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -374px 0px; }
  .icon-sprite-couch-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -374px 0px; }
  .icon-sprite-couch-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -374px 0px; }

.icon-sprite-bed-left-0 {
  background-image: url("../img/spritesheet.png");
  border-radius: 5px 5px 0 0; }
  .icon-sprite-bed-left-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -136px 0px; }
  .icon-sprite-bed-left-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -136px 0px; }
  .icon-sprite-bed-left-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -136px 0px; }
  .icon-sprite-bed-left-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -136px 0px; }

.icon-sprite-bed-left-1 {
  background-image: url("../img/spritesheet.png");
  border-radius: 5px 0 0 0; }
  .icon-sprite-bed-left-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -68px -34px; }
  .icon-sprite-bed-left-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -68px -34px; }
  .icon-sprite-bed-left-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -68px -34px; }
  .icon-sprite-bed-left-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -68px -34px; }

.icon-sprite-bed-left-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-bed-left-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -102px -34px; }
  .icon-sprite-bed-left-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -102px -34px; }
  .icon-sprite-bed-left-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -102px -34px; }
  .icon-sprite-bed-left-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -102px -34px; }

.icon-sprite-bed-left-3 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-bed-left-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -136px -34px; }
  .icon-sprite-bed-left-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -136px -34px; }
  .icon-sprite-bed-left-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -136px -34px; }
  .icon-sprite-bed-left-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -136px -34px; }

.icon-sprite-bed-right-0 {
  background-image: url("../img/spritesheet.png");
  border-radius: 5px 5px 0 0; }
  .icon-sprite-bed-right-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -170px 0px; }
  .icon-sprite-bed-right-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -170px 0px; }
  .icon-sprite-bed-right-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -170px 0px; }
  .icon-sprite-bed-right-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -170px 0px; }

.icon-sprite-bed-right-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-bed-right-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -170px -34px; }
  .icon-sprite-bed-right-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -170px -34px; }
  .icon-sprite-bed-right-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -170px -34px; }
  .icon-sprite-bed-right-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -170px -34px; }

.icon-sprite-bed-right-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-bed-right-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -204px -34px; }
  .icon-sprite-bed-right-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -204px -34px; }
  .icon-sprite-bed-right-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -204px -34px; }
  .icon-sprite-bed-right-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -204px -34px; }

.icon-sprite-bed-right-3 {
  background-image: url("../img/spritesheet.png");
  border-radius: 0 5px 0 0; }
  .icon-sprite-bed-right-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: -238px -34px; }
  .icon-sprite-bed-right-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: -238px -34px; }
  .icon-sprite-bed-right-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -238px -34px; }
  .icon-sprite-bed-right-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: -238px -34px; }

.icon-sprite-beds-left-0 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-left-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-left-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-left-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-left-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-left-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-left-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-left-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-left-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-left-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-left-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-left-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-left-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-left-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-left-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-left-3 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-left-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-left-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-left-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-left-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-right-0 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-right-0.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-right-0.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-right-0.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-right-0.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-right-1 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-right-1.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-right-1.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-right-1.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-right-1.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-right-2 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-right-2.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-right-2.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-right-2.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-right-2.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

.icon-sprite-beds-right-3 {
  background-image: url("../img/spritesheet.png"); }
  .icon-sprite-beds-right-3.rot-0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-position: ""; }
  .icon-sprite-beds-right-3.rot-1 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: ""; }
  .icon-sprite-beds-right-3.rot-2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: ""; }
  .icon-sprite-beds-right-3.rot-3 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    background-position: ""; }

/*# sourceMappingURL=gbm-tetris.css.map */