/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-sprite-blue-sofa {
  background-image: url(../img/spritesheet.png);
  background-position: -170px 0px;
  width: 136px;
  height: 34px;
}
.icon-sprite-files-archive-box {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 68px;
  height: 68px;
}
.icon-sprite-table {
  background-image: url(../img/spritesheet.png);
  background-position: -68px 0px;
  width: 102px;
  height: 68px;
}
